{% extends "base.html" %}
{% block title %}Input page{% endblock %}
{% block content %}
    <h1>Input transaction data</h1>
    <form action="/input" method="POST">
        <label for="type">Type:</label><br>
        <input type="text" id="type" name="type"><br>
        <label for="account">Account:</label><br>
        <input type="text" id="account" name="account"><br>
        <label for="currency">Currency:</label><br>
        <input type="text" id="currency" name="currency"><br>
        <label for="amount">Amount:</label><br>
        <input type="text" id="amount" name="amount"><br>
        <label for="category">Category:</label><br>
        <input type="text" id="category" name="category"><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}